@model CoreAppBook.Models.BookModel;
@{
    ViewData["Title"] = "GetBook";

}

<div class="container">
    <h3>Books Details</h3>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Gallery.Count(); i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Gallery.Count(); i++)
                    {
                        <div class="@(i==0?"carousel-item active":"carousel-item")">
                            <img class="d-block w-100" src="@Model.Gallery[i].Url" alt="@Model.Gallery[i].Name">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Html.DisplayFor(x=>x.Title)</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span>By @Html.DisplayFor(x => x.Author)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">@Html.DisplayFor(x => x.Description)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-outline-primary" href="">Read Now</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="font-weight-bold">Category - </span>@Html.DisplayFor(x => x.Category)</li>
                        <li class="list-group-item"><span class="font-weight-bold">Total Pages - </span>@Html.DisplayFor(x => x.ToTalPages)</li>
                        <li class="list-group-item"><span class="font-weight-bold">Language - </span>@Html.DisplayFor(x => x.Language)</li>

                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="py-5 bg-light">

    <div class="container">
        <h3>Similar Books</h3>
        <div class="row">
            @for(int i=0;i<5;i++)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="card-img-top" width="100%" height="225"></svg>
                        <div class="card-body">
                            <h3 class="card-title">@Model.Title</h3>
                            <p class="card-text">@Model.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/book/getbook/@Model.Id" class="btn btn-outline-secondary">View Details</a>
                                </div>
                                <small class="text-muted">@Model.Author</small>

                            </div>

                        </div>
                    </div>

                </div>

            }
        </div>

    </div>


</div>